/* src/stalin.css */
.rightComments {
  background: #e8e8e8;
  padding: 5px 10px 10px 10px;
  width: inherit;
  color: black;
  position: absolute;
  z-index: 99;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* main.css */
.view-comments-gx[data-v-11ff5612] {
  width: 100%;
  padding: 10px;
  background: #eee;
  margin-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 12px;
}
.header-tool[data-v-11ff5612] {
  height: 20px;
  background: #e3e3e3;
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  position: relative;
}
.copy-icons[data-v-11ff5612] {
  position: absolute;
  right: 2px;
  cursor: pointer;
}

/* src/main.css */
