/* src/stalin.css */
.rightComments {
  background: #e8e8e8;
  padding: 5px 10px 10px 10px;
  width: inherit;
  color: black;
  position: absolute;
  z-index: 99;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* main.css */
.view-comments-gx[data-v-11ff5612] {
  width: 100%;
  padding: 10px;
  background: #eee;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid #cdcdcd;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 12px;
}

/* src/main.css */
