/* src/stalin.css */
.rightComments {
  background: #eae9e9;
  padding: 5px 10px 10px 10px;
  width: inherit;
  color: black;
}

/* main.css */
h2[data-v-f8994186] {
  color: lightcoral;
}

/* src/main.css */
