.rightComments {
   
    padding: 5px 10px 10px 10px;
    width: inherit;
    position: absolute;
    cursor: pointer;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid #cdcdcd;
}

.rightComments h6{
    display:inline;
}