.rightComments {
   
    padding: 5px 10px 10px 10px;
    width: inherit;
    position: absolute;
    cursor: pointer;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid var(--divider-color);
}

.rightComments h5{
    display:inline;
}

.line{
    position:absolute;
    background:green;
    height:1px;
    z-index: 1;/*这里设置大于2，即可看到真正连线的其实是两个元素的中心坐标*/
}
